<body>

    <div class="container text-center">
        <div class="row">
            <div class="col-sm-3">
                <a href="">
                    <i class="bi bi-facebook"> </i>
                </a>
            </div>
            <div class="col-sm-3">
                <a href="https://www.linkedin.com/in/divya-shrivastava-1a11591b6" target="_blank">
                    <i class="bi bi-linkedin"></i>
                </a>
            </div>
            <div class="col-sm-3">
                <a href="https://instagram.com/_divyz_shrivastav_?utm_medium=copy_link" target="_blank">
                    <i class="bi bi-instagram"> </i>
                </a>
            </div>
            <div class="col-sm-3">
                <a href="">
                    <i class="bi bi-envelope"> </i>
                </a>
            </div>
        </div>
        <br>
        <div class="container">
            <div class="row">
                <div class="col-xs">
                    <i class="bi bi-telephone-fill"><i>&nbsp; +91 92675489</i></i><br>
                </div>
                <div class="col-xs">
                    <i class="bi bi-envelope-fill"><i>&nbsp; divyz.shrivastava98@gmail.com</i></i>
                </div>
            </div>
        </div>
        <br>
        <br>
        <div class="footer-copyright text-center py-3"><strong><i>© 2021 Copyright</i></strong>
            <p><strong><i>Divya Shrivastava</i></strong></p>
        </div>
    </div>
</body>